# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://apiydlaktwnkcuudevvh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwaXlkbGFrdHdua2N1dWRldnZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3Njg1MDQsImV4cCI6MjA4OTM0NDUwNH0.ABtHUL1fxj8v14_Ml9c_-1VAzuuRzxx__XR4Bbu-IUo
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key_aqui

# Admin (escolha uma senha segura)
ADMIN_PASSWORD=sua_senha_aqui
